body {
    font-family: 'Nuito', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #222;
}

.main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
